<h1>Make a new recipe!</h1>
<form method="post" action"/recipes">
  <div>
    Title: <input type="text" name="title" />
  </div>
  <div>
    Chef: <input type="text" name="chef" />
  </div>
  <div>
    Prep time: <input type="text" name="prep_time" />
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients" />
  </div>
  <div>
    Directions: <input type="text" name="directions" />
  </div>
  <div>
    Image url: <input type="text" name="image_url" />
  </div>
  <input type="submit" value="Create recipe" />
</form>