<!DOCTYPE html>
<html>
  <head>
    <title>CookbookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <a href="/recipes">All recipes</a>
    <a href="/recipes/new">New recipe</a>
    <%= yield %>
  </body>
</html>
